#navigation{
    width: 1600px;
    margin: 0 auto; 
    background-color: #ffff
    
}
.btn{
   background-color: #469165;
    width: 164px;
    border-radius: 5px;
    padding: 12px 16px;
    border: none;
    color: #ffff;
    cursor: pointer;
}
#navigation .naigation-container{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}
#navigation .naigation-container .menu-item .menu{
    display: flex;
    gap: 32px;
    width: 362px;
    list-style: none;
    text-decoration: none;
}
  ul li a {
    text-decoration: none;
  }
  #banner{
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #banner .banner-container{
    
    text-align: center;
    margin: 115px 120px;
  }
    #banner .banner-container .access{
       
        width: 229px;
        border: none;
        border-radius: 1000px;
        padding: 8px 12px;
        background-color: #ffff;
        color: #469165;
        margin-bottom: 0px;
        margin-top: 124px;
    }
#banner .banner-container h2{
    width: 700px;
    font-style: bold;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    margin: 16px auto;

}
#banner .banner-container .hh{
    color:#ffff;
    margin-top: 16px;
}
#banner .banner-container .hhh{
    color:#469165;
    margin-top: 16px;
}
#banner .banner-container p{
  width: 700px;
  font-size: 18px;
  line-height: 24px;
  margin-top: 16px;
  color: #ffff;
  margin: 0 auto;
}
#banner .banner-container button{
  width: 251px;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 180px;
 
}
#banner .banner-container .work{
  width: 198px;
  gap: 16px;
  margin-top: 32px;
  margin-bottom: 180px;
  border: 1px solid white;
  border-radius: 4px;
 padding: 12px 16px;
 background-color: transparent;
 color: #ffff;
}
#notes .notes-container h1{
  width: 700px;
  font-size: 48px;
  font-style: bold;
margin: 0 auto;
    
  
  color: #001931;
  
}
#notes .notes-container .pp{
  width: 400pxpx;
  font-size: 16px;
  color: #627382;
  margin-top: 16px;
  text-align: center;
 
}
#notes .notes-container .card-container{
  display: flex;
 padding: 120px;
 gap: 24px;
  justify-content: space-around;
 
}
#notes .notes-container .card-container .card-item{
  /* border: 1px solid black; */
  background-color: #ffff;
  box-shadow: 0px 0px 8px 0px #001931 ;
}
#notes .notes-container .card-container img{
  width: 32px;
  padding: 69px 131px 16px;
  
}
#notes .notes-container .card-container h2{
  width: 274px;
   /* margin-top: 0 auto;  */
  font-style:600px;
  font-size: 24px;
  color: #001931;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#notes .notes-container .card-container p{
  /* width: 274px; */
   /* margin-top: 0 auto;  */
 font-size: 16px;
  
  color: #627382;
  text-align: center;
}
#solution{
  margin: 120px;
}
#solution .solution-container{
  display: flex;
  gap: 60px;
}
#solution .solution-container img{
  width: 600px;
  border-radius: 12px;
}
#solution .solution-container .solution-part{
  margin: 102px 0;
  width: 700px;
 
}
#solution .solution-container .solution-part h4{
  width: 700px;
  font-size: 16px;
  line-height: 20px;
  color: #30b868;

}
#solution .solution-container .solution-part h1{
  font-size: 48px;
  font-style: bold;
  color: #001931;
}
#solution .solution-container .solution-part p{
  width: 700px;
  font-size: 16px;
  line-height: 20px;
  color: #627382;
}
#solution .solution-container .solution-part ul{
  margin-top: 42px;
  gap: 16px;
  color: #001931;
  list-style-image: url(../assets/CheckCircle.png);

}
#think{
  margin: 0 120px;
}
#think .think-container{
  background-color: #f7f6f2;
  padding: 80px 140px;
  text-align: center;
}
#think .think-container h2{
  font-style: bold;
  font-size: 40px;
}
#think .think-container p{
  font-size: 16px;
  color: #627382;
  line-height: 24px;
 
}